In [18]:
"""
Texto multilinea como comentario
"""

'\nTexto multilinea como comentario\n'

In [19]:
x = 10
x

10

In [20]:
print(type(5))
print(type(5.))
print(type('Hola'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [21]:
str1 = "hola"
print(len(str1))
for c in str1: print(c)

4
h
o
l
a

In [22]:
print('hol' in str1)
print('Hol' in str1)

True
False

In [23]:
print(5 + 3)
print(5 - 3)
print(5 / 3)
print(5 // 3)
print(5 % 3)
print(5 * 3)
print(5 ** 3)

8
2
1.6666666666666667
1
2
15
125

In [24]:
if('hol' in str1): print(f'bienvenido y %s' %  str1)

bienvenido y hola

In [25]:
a = 10
b = 15
c = 109
largest = a if a > b and a > c else b if b > c and b > a else c
print(f'Valor mas grande: %s' % largest)

Valor mas grande: 109

In [26]:
print(type(range(5)))
for i in range(5): print(i)

<class 'range'>
0
1
2
3
4

In [27]:
for i in range(5, 35, 3): print(i)

5
8
11
14
17
20
23
26
29
32

In [28]:
str3 = "Te deum laudamus"
for i in range(len(str3)): 
    print(str3[i])
    if i == 6: 
        print("funcion interrumpida")
        break
else: print("Ciclo terminado") #usado para determinar que termin√≥ el ciclo for

T
e

d
e
u
m
funcion interrumpida

In [29]:
lst = [1, 5., True, 'ewfj']
print(lst)
print(type(lst))
print(len(lst))

[1, 5.0, True, 'ewfj']
<class 'list'>
4

In [30]:
alist = list(range(0,5))
alist[2] = True
for i in alist: print(i)
print(alist[0:2])

0
1
True
3
4
[0, 1]

In [31]:
alist.append([5,5,5])
alist.extend([5,5,5,5])
print(alist)
alist.insert(2, 200)
print(alist)

[0, 1, True, 3, 4, [5, 5, 5], 5, 5, 5, 5]
[0, 1, 200, True, 3, 4, [5, 5, 5], 5, 5, 5, 5]

In [34]:
vals = list(range(5))
print(vals)

aux = vals
aux[2] = -55
print(vals)

[0, 1, 2, 3, 4]
[0, 1, -55, 3, 4]

In [35]:
vals = list(range(5))
print(vals)

aux = vals[:]
aux[2] = -55
print(vals)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [36]:
data1 = list(range(15))
for i in range(len(data1)):
    print(f'%d - %s' % (i, data1[i]))

0 - 0
1 - 1
2 - 2
3 - 3
4 - 4
5 - 5
6 - 6
7 - 7
8 - 8
9 - 9
10 - 10
11 - 11
12 - 12
13 - 13
14 - 14

In [ ]:
data = [5, -8, -7, 56, 12, 0, -4, 78, 36, -18]
data2 = []

In [41]:
for i in range(len(data)):
    if data[i] < 0: data2.append(data[i])

print(data2)

[-8, -7, -4, -18, -8, -7, -4, -18]

In [42]:
data3 = [x for x in data if x < 0]
print(data3)

[-8, -7, -4, -18]

Find all of the numbers from 1-1000 that are divisible by 7

In [46]:
numbers1 = list(range(1001))
divisible7 = [x for x in numbers1 if x % 7 == 0]
print(divisible7)
print([x / 7 for x in divisible7])

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]
[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0]

Find all of the numbers from 1-1000 that have a 3 in them

In [48]:
numbers1 = list(range(1001))
include3 = [x for x in numbers1 if '3' in str(x)]
print(include3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

## Funciones

In [53]:
def suma(x, y, z): return x + y + z
print(suma(4, 6, 1265)) #llamada posicional
print(suma(x =4, z =1265, y = 2)) #llamada por nombre

1275
1271

In [55]:
def suma(x = 1, y = 2, z = 3): return x + y + z
suma()

6

In [56]:
suma1 = lambda x, y, z: x + y + z
suma1(1, 2, 3)

6

In [58]:
def sum3(*number):
    total = 0
    for e in number:
        total += e
    return total

sum3(5,6,7,8,9,1,5,6)

47

In [59]:
def dynamic(x, y, op):
    return op(x,y)